python-dotenv
ipywidgets
requests
numpy
pandas
scipy
scikit-learn
streamlit
fastapi
flask
matplotlib
gensim
torch
transformers
tqdm
diffusers
openai
openai-agents
gradio
langchain
langchain-core
langchain-text-splitters
langchain-openai
langchain-ollama
langchain-chroma
langchain-community
langchain-mcp-adapters
langgraph
langgraph-sdk
langgraph-prebuilt
langgraph-checkpoint-sqlite
langgraph-cli[inmem]
langsmith
lancedb
datasets==3.6.0
matplotlib
google-generativeai
anthropic
accelerate
agno
chromadb
plotly
jupyter-dash
beautifulsoup4
bitsandbytes
pydub
pdfplumber
pypdf
PyPDF2
modal
ollama
psutil
setuptools
speedtest-cli
soundfile
sentence_transformers
trustcall
rich
feedparser
protobuf==3.20.2
pinecone-client
wikipedia